input {
  width: 175px;
  font-size: 16px;
  margin: 0 5px 5px 0;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid grey;
}

.row {
  display: flex;
  flex-direction: row;
}

.delete {
  font-size: 0.5rem;
  font-weight: bold;
  color: crimson;
}

.ComplexInput {
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  padding:2px;
  input {
    flex-grow:2;
    border:none;
    border-radius: 2px;
    &:focus {
      outline: none;
    }
  }
  button {
    border:1px solid transparent;
    border-radius: 2px;
    background:transparent;
    color:white;
    margin-left: 1px;
    &.selected {
      border:1px solid grey;
      background:grey;
    }
  }
}