.row {
  display: flex;
  flex-direction: row;
}

.delete {
  font-size: 0.5rem;
  font-weight: bold;
  color: crimson;
}

.ComplexInput {
  display:flex;
  flex-direction:row;
  border: 1px solid grey;
  border-radius: 2px;
  margin-right: 2px;
  input {
    flex-grow:2;
    border:none;
    border-radius: none;
    &:focus {
      outline: none;
    }
  }
  button {
    border:1px solid transparent;
    border-radius: 2px;
    background:transparent;
    color:grey;
    margin-left: 1px;
    height: 100%;
    &.selected {
      border:1px solid grey;
      background:grey;
      color:white;
    }
  }
}

input {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
}