.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.delete {
  font-size: 16px;
}

.ComplexInput {
  display:flex;
  flex-direction:row;
  border: 1px solid grey;
  border-radius: 2px;
  margin-right: 2px;
  input {
    flex-grow:2;
    border:none;
    border-radius: none;
    &:focus {
      outline: none;
    }
  }
  button {
    border:1px solid transparent;
    border-radius: 2px;
    background:transparent;
    color:grey;
    margin-left: 1px;
    height: 100%;
    &.selected {
      border:1px solid grey;
      background:grey;
      color:white;
    }
  }
}

input {
  padding: 2px;
  border: 1px solid grey;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
}

#cont {
  &.loading {
    display: contents;
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      // margin: 8px;
      border-radius: 50%;
      border: 3px solid #333;
      border-color: #333 transparent #333 transparent;
      animation: loading 1.2s linear infinite;
    }
    * {
      display: none;
    }
  }
}


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
