{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "allowAutomaticSingleRunInference": true,
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/naming-convention": [
      "warn",
      {
        "selector": "variableLike",
        "format": ["camelCase", "UPPER_CASE", "PascalCase"],
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/explicit-function-return-type": [
      "off",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "no-empty-function": 0,
    "@typescript-eslint/no-empty-function": 0,

    // use typescript-eslint-no-shadow instead of eslint's no-shadow
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "func-names": ["error", "always"],
    "max-len": [
      "error",
      95,
      2,
      {
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],

    "consistent-return": "off",
    "default-case": "off",
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    // Code Quality
    "max-lines": ["warn", 250],
    "max-statements": ["warn", 30],
    "max-params": ["warn", 5],
    "complexity": ["warn", 10]
  }
}
